# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit 
    rev: v0.5.0
    hooks:
    - id: ruff
      language: system
      args: [ --fix ]
#    - id: ruff-format
#      language: system