fastapi==0.111.0
uvicorn==0.29.0
alembic==1.13.1
SQLAlchemy==2.0.29
PyMySQL==1.1.1
pytest==8.2.0
dynaconf==3.2.5
flake8==6.0.0
black==24.3.0
isort==5.12.0
pre-commit==3.3.2
passlib==1.7.4
argon2-cffi==23.1.0
python-multipart==0.0.9
PyJWT==2.8.0
testcontainers[mysql]==4.5.0
docker==7.1.0 # https://github.com/docker/docker-py/issues/3256
python-on-whales==0.71.0
