fastapi==0.112.0
uvicorn==0.30.5
alembic==1.13.2
SQLAlchemy==2.0.32
PyMySQL==1.1.1
pytest==8.3.2
dynaconf==3.2.6
ruff==0.6.1
pre-commit==3.8.0
passlib==1.7.4
argon2-cffi==23.1.0
python-multipart==0.0.9
PyJWT==2.9.0
testcontainers[mysql]==4.7.2
docker==7.1.0 # https://github.com/docker/docker-py/issues/3256
python-on-whales==0.72.0
httpx==0.27.0
